{% extends 'admin_layout.html' %}
{% block body %}
<div class="card">
    <div class="card-body"> 
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" action="" novalidate enctype="multipart/form-data" class="default-form"> 
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        {{ form.text.label(class="col-sm-2 col-form-label text-right") }}
                        <div class="col-sm-10">
                            {% if form.text.errors %}
                                {{ form.text(class="is-invalid form-control") }}
                                <div class="invalid-feedback">
                                    {% for error in form.text.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.text(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        {{ form.img.label(class="col-sm-2 col-form-label text-right") }}
                        {{ form.img(style="margin-left:12px; margin-top:5px;") }}
                        {% if form.img.errors %}
                            {% for error in form.img.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>    
                    <div class="form-group row">
                        {{ form.submit(class="btn btn-primary", style="margin-left:15px;") }}
                    </div>                               
                </form>
            </div>
        </div>                                                                      
    </div>
</div>
{% endblock %}